{% extends 'base.html.twig' %}

{% block title %}Projekt - Edytuj - AI SEO Texts{% endblock %}

{% block body %}

    <div class="title-box">
        <h1>Edycja projektu: <i style="font-weight: 300;">{{ project.name }}</i></h1>
    </div>

    {% if isSuccess == 'success' %}
        <div class="projects projects-summary box-container">
            <div class="box">
                <div class="col-next align-self-center">
                    <img src="/uploads/default/icons/checkmark.svg" class="icon success" alt=""/>
                </div>
                <div class="col-next align-self-center">
                    Projekt <b>{{ submission.getName }}</b> edytowany pomyślnie!
                </div>
            </div>
        </div>
    {% elseif isSuccess == 'failure' %}
        <div class="projects projects-summary box-container">
            <div class="box">
                <div class="col-next align-self-center">
                    <img src="/uploads/default/icons/warning.svg" class="icon error" alt=""/>
                </div>
                <div class="col-next align-self-center">
                    <div class="error-list">
                        <p><b>Edycja projektu nie powiodła się!</b></p>
                        <b>Błędy:</b> <br/>
                        {% for error in errors %}
                            {{ error }}<br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {{ form_start(form) }}

    <div class="form box-container">

        <div class="box">
            <div class="col-1 ">
                <span class="label"><b>Ustawienia główne</b></span>
            </div>
            <div class="col-1">
                <span class="label">{{ form_label(form.name) }} </span><br/>
                {{ form_widget(form.name, {'attr': {'value': project.name }}) }}
            </div>
            <div class="col-1 ">
                <hr>
            </div>
            <div class="col-1 ">
                <span class="label"><b>Karta z linkiem pod artykułami (opcjonalne)</b></span>
            </div>
            <div class="col-1 select">
                <span class="label">{{ form_label(form.cardLinkCoverage) }} </span><br/>
                {{ form_widget(form.cardLinkCoverage, {'value': project.cardLinkCoverage }) }}
            </div>
            <div class="col-1 textarea">
                <span class="label">{{ form_label(form.cardHeader) }} </span><br/>
                {{ form_widget(form.cardHeader, {'value': project.cardHeader }) }}
            </div>
            <div class="col-1">
                <span class="label">{{ form_label(form.cardCompanyWebsite) }} </span><br/>
                {{ form_widget(form.cardCompanyWebsite, {'attr': {'value': project.cardCompanyWebsite }}) }}
            </div>
            <div class="col-1">
                <span class="label">{{ form_label(form.cardCompanyName) }} </span><br/>
                {{ form_widget(form.cardCompanyName, {'attr': {'value': project.cardCompanyName }}) }}
            </div>
            <div class="col-2">
                <span class="label">{{ form_label(form.cardCompanyPhone) }} </span><br/>
                {{ form_widget(form.cardCompanyPhone, {'attr': {'value': project.cardCompanyPhone }}) }}
            </div>
            <div class="col-2">
                <span class="label">{{ form_label(form.cardCompanyEmail) }} </span><br/>
                {{ form_widget(form.cardCompanyEmail, {'attr': {'value': project.cardCompanyEmail }}) }}
            </div>
            <div class="col-1 ">
                <hr>
            </div>
            <div class="submit">
                {{ form_row(form.save) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
