{% set currentPage = app.request.attributes.get('_route') %}
<nav id="sidebar">
    <div class="sidebar-header">
        <p><a href="{{ path('app_user_panel_index') }}">
                <img src="/uploads/default/logo.png" alt="LOGO" class="site-logo"/>
                AI SEO Texts</a></p>
    </div>
    <div class="sidebar-menu-main">
        <ul class="list-unstyled components menu">
            {% set currentPage = app.request.attributes.get('_route') %}
            <li><a href="{{ path('app_user_panel_index') }}"
                   class="menu-item{% if currentPage == 'app_user_panel_index' %} active{% endif %}">
                    <span><img src="/uploads/default/icons/house.svg" class="icon" alt=""/>
                    Przegląd</span>
                </a></li>
            <li id="menu-trigger"><a href="#" class="menu-item add-new disabled">
                    <span><img src="/uploads/default/icons/plus.svg" class="icon" alt=""/>
                    Dodaj</span>
                </a>
                <ul id="menu-list">
                    <li><a href="{{ path('app_user_panel_new') }}" class="menu-item">
                            <span>Projekt</span>
                        </a></li>
                    <li><a href="{{ path('app_user_panel_new_project_group') }}" class="menu-item">
                            <span>Grupa projektów</span>
                        </a></li>
                    <li><a href="{{ path('app_user_panel_new_domain_group') }}" class="menu-item">
                            <span>Grupa domen</span>
                        </a></li>
                </ul>
            </li>
            <li><a href="{{ path('app_user_panel_project_group') }}"
                   class="menu-item{% if currentPage == 'app_user_panel_project_group' %} active{% endif %}">
                    <span><img src="/uploads/default/icons/star.svg" class="icon" alt=""/>
                    Grupy projektów</span>
                </a></li>
            <li><a href="{{ path('app_user_panel_projects') }}"
                   class="menu-item{% if currentPage == 'app_user_panel_projects' %} active{% endif %}">
                    <span><img src="/uploads/default/icons/menu.svg" class="icon" alt=""/>
                    Projekty</span>
                </a></li>
            <li><a href="{{ path('app_user_panel_domain_group') }}"
                   class="menu-item{% if currentPage == 'app_user_panel_domain_group' %} active{% endif %}">
                    <span><img src="/uploads/default/icons/document.svg" class="icon" alt=""/>
                    Domeny</span>
                </a></li>

        </ul>
    </div>
    <div id="sidebar-footer">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('app_logout') }}" class="login-link">
                    <span><img src="/uploads/default/icons/logout.svg" class="icon" alt=""/>
                    Wyloguj się</span>
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="login-link">
                    <span><img src="/uploads/default/icons/login.svg" class="icon" alt=""/>
                    Zaloguj się</span>
            </a>
        {% endif %}
        <br/>&copy; Michał Stancelewski
    </div>
</nav>