{% extends 'base.html.twig' %}

{% block title %}Wszystkie Projekty - AI SEO Texts{% endblock %}

{% block body %}

    <div class="title-box">
        <h1>Projekt: <i style="font-weight: 300;">{{ project.name }}</i></h1>
    </div>

    <div class="projects projects-summary box-container">
        <div class="box">
            <div class="col-next">
                <a href="{{ path('app_user_panel_projects') }}" class="button go-back">Wróć</a>
            </div>
            <div class="col-next">
                <a href="#" class="button export">Eksportuj</a>
            </div>
            <div class="col-break"></div>
            <div class="col-next">
                <span class="label">Temat:</span> <span class="theme">{{ project.theme }}</span>
            </div>
            <div class="col-next">
                <span class="label">Łącznie:</span> <span class="number">{{ project.numberOfArticles }}</span>
            </div>
            <div class="col-next">
                <span class="label">Zakończone:</span> <span class="number">{{ project.articles|length }}</span>
            </div>
        </div>
    </div>

    {% if project.articles|length < 1 %}
        <div class="message-empty center">
            <div><span>Artykuły w przygotowaniu...</span></div>
            <div><img src="/uploads/default/loading.png" class="spinner"/></div>
            <div><a href="{{ path('app_user_panel_projects_single', { id: project.id }) }}" class="button refresh">Odśwież</a>
            </div>
        </div>
    {% else %}
        <div class="projects article-list box-container">
            <h2>Gotowe artykuły</h2>

            {% for article in project.articles %}
                <div class="box border-bottom" style="margin: 10px 0;">
                    <div class="col-80">
                        <b>{{ article.title }}</b>
                    </div>
                    <div class="col-20">
                        <span class="label">Długość: </span>
                        <b>{{ article.content|length}}</b>
                    </div>
                    <div class="col-100" style="margin: 5px 0;">
                        {{ article.content}}
                    </div>
                    <div class="col-break">
                    </div>
                </div>
            {% endfor %}

        </div>


    {% endif %}
{% endblock %}