{% extends 'base.html.twig' %}

{% block title %}Wszystkie Projekty - AI SEO Texts{% endblock %}

{% block body %}

    <div class="title-box">
        <h1>Projekt: <i style="font-weight: 300;">{{ project.name }}</i></h1>
    </div>

    <div class="projects projects-summary box-container">
        <div class="box">
            <div class="col-next">
                <a href="{{ path('app_user_panel_projects') }}" class="button go-back">
                    <span><img src="/uploads/default/icons/reply.svg" class="icon" alt=""/>
                    Wróć
                    </span>
                </a>
            </div>
            <div class="col-next">
                <span class="label">Temat:</span> <span class="theme">{{ project.theme }}</span>
            </div>
            <div class="col-next">
                <span class="label">Artykuły:</span> <span class="number">{{ project.numberOfArticles }}</span>
            </div>
            <div class="col-break"></div>
            <div class="col-next">
                Artykuły zostały przygotowane do eksportu w pliku TXT!
            </div>
            <div class="col-break"></div>
            <div class="col-next">
                <a href="{{ path }}" download="" class="button export">
                    <span><img src="/uploads/default/icons/download.svg" class="icon" alt=""/>
                    Pobierz
                    </span>
                </a>
            </div>
            <div class="col-next">
                <a href="{{ path('app_user_panel_projects_makeused', { id: project.id }) }}" class="button go-back">
                    <span><img src="/uploads/default/icons/checkmark.svg" class="icon" alt=""/>
                    Oznacz jako wykorzystane
                    </span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}